@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 14px/1.25 $font-roboto;
    color: $font-color;
    $font-montserrat: 'Montserrat', Arial, Tahoma, sans-serif;
    $font-roboto: 'Roboto Slab', 'Times New Roman', serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

section {
    padding: 92px 0;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-title {
    font-size: 20px;
    font-family: $font-montserrat;
    font-weight: 400;
    color: $font-color;
    text-transform: uppercase;
    line-height: 1.2;
    padding-bottom: 25px;
    position: relative;
    
    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: calc(50% - 25px);
        width: 50px;
        height: 2px;
        background-color: #555;
    }
}

.main-btn {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 27px;
    letter-spacing: 1px;
    border: 2px solid #fff;
    transition: .3s ease;

    &:hover {
        color: $red;
        background-color: #fff;
        border: 1px solid $red;

    }
}

.section-head {
    text-align: center;

    p {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        width: 100%;
        padding: 25px 0 71px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-33 {
    width: calc(33.3% - 30px);
    flex-shrink: 0;
    margin: 15px;
}