.header {
  background: url('../images/banner.jpg') no-repeat 50% 50%;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;

  .container {
    padding: 40px 0 0;
  }

  .logo {
      position: relative;
      color: #fff;
      font-family: 'Montserrat', Arial, Tahoma, sans-serif;
      font-weight: 700;
      font-size: 24px;
      padding: 0 0 0 40px;
  }

  .wrapper-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 5;

      &.sticky {
        background: #792819;
        box-shadow: 0 2px 8px 1px rgba(0,0,0,.2);
    }
  }

  .navigation {
      display: flex;
      flex-direction: row;
      vertical-align: baseline;

      @include screen(1024px) {
          justify-content: space-between;
          padding: 15px;
          flex-direction: column;
      }

      a {
          padding: 0 30px 0 0;
          color: #fff;
          font-family: $font-montserrat;

          @include screen(1024px) {
            text-transform: uppercase;
            display: block;
            font-size: 16px;
            padding: 20px;
        }
          
          &:last-child {
                padding: 0 230px 0 0;
          }

          &:hover {
                text-decoration: underline;
          }
      }
      &-wrapper {
          padding: 40px 0 0;
          max-width: 1140px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 auto;
      }

      &-mobile {
        justify-content: center;

        @include screen(1024px) {
            z-index: 10;
            position: fixed;
            height: 100vh;
            width: 320px;
            overflow-y: auto;
            padding: 80px 0 40px;
            background: #792819;
            right: -110%;
            top: 0;
            box-shadow: -2px 0px 6px 1px rgba(50, 50, 50, .3);
            display: block;
            transition: .5s ease;
            text-align: right;
        }
        &.active {
            @include screen(1024px) {
                right: 0;
            }
        }
      }
  }
}

//   MOBILE MENU SECTION
.menu-button, .close-menu {
    display: none;

    @include screen(1024px) {
        display: block;
    }
}

.menu-button {
    @include screen(1024px) {
        width: 48px;
        height: auto;
    }

    img {
        width: 32px;
        height: 32px;
    }
}

.close-menu {
    img {
        width: 32px;
        height: 32px;
        background: no-repeat 50% 50%;
        background-size: 32px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 40px;
        transition: .3s ease;
    }
}

// CAPTION 

.caption {
    padding-top: 250px;
    display: block;
    z-index: 1;
    color: #fff;
    text-align: center;
    font-family: $font-montserrat;

    h1 {
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 400;
        margin: 0 0 30px;
    }

    p {
        font-family: $font-roboto;
        font-size: 20px;
        margin: 0 0 50px;
        text-transform: capitalize;

        @include screen(1024px) {
            font-size: 16px;
        }
    }

    .caption__btn {
        display: inline-block;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 30px;
        border: 1px solid #fff;
        transition: .3s ease;

        &:hover {
            color: #000;
            background-color: #fff;
            border: 1px solid #000;

        }
    }
}

.banner {
    line-height: 0;

    img {
        width: 100%;
        min-height: 100vh;
    }
}
