.services {

    @include screen(1024px) {
        padding: 60px 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 70px;

        @include screen (768px) {
            flex-direction: column;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        text-align: center;

        @include screen(768px) {
            padding-bottom: 40px;
        }

        h3 {
            padding-top: 30px;
            font-family: $font-montserrat;
            text-transform: uppercase;
            font-size: 14px;
        }

        p {
            padding: 25px 5px 0;
        }
    }
    &__img {
        width: 90px;
        height: 90px;
        align-self: center;
        background: $white;
        border: 2px solid #dddddd;
        border-radius: 50px;
        transition: .3s ease;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
            a {
                img {
                    filter: brightness(1) invert(0);
                }
            }
        &:hover {
            background: $red;
            a {
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }    
    }
}